.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;

  height: 100vh;

  background: url('../assets/images/lightbg.jpeg') no-repeat;
  background-size: cover;
}

.title {
  font-size: 2em;

  margin: 1rem;
}

@media screen and (max-width: 600px) {
  .title {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-height: 450px) {
  .title {
    display: none;
  }
}