@import "../../assets/styles/colors";

.wrapper {
  width: 100%;
  height: 100%;
  color: $periwinkle-gray;
}

.button {
  width: 100%;
  height: 100%;

  background: rgba($white, 0.8);
  border: 2px solid $black;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px $grey;

  &:focus {
    outline: none;
  }
}