.emoji-mart-bar {
  display: none !important;
}

.emoji-mart-search {
  width: 10rem;
  display: none;
}

.emoji-mart {
  background-color: rgba(black, 0.3);
  border: none;
}

.emoji-mart-category-label {
  display: none;
}

.emoji-mart-search-icon {
  display: none;
}