@import "../../assets/styles/colors";

.container {
  background: $black;
}

.wrapper {
  border-color: $white;
}

.controlWrapper {
  color: $white;
}


.resetButtonWrapper {
  border-color: $white;
}
