$white: #ffffff;
$black: #000000;

$dark-grey: #8b8b8b;
$grey: #9d9d9d;
$mid-grey: #c6c6c6;
$light-grey: #ededed;
$alabaster: #f7f7f7;

$endeavour: #0460a9;
$blue: #5291dd;
$light-blue: #19a9e0;
$black-squeeze: #E6EFF6;
$green: #00c425;
$malachite: #00C329;
$eucalyptus: #28a145;
$fringy-flower: #c4ebcc;
$light-green: #ebfaee;
$red: #ec3508;
$cinnabar: #e74a21;
$mid-carmine: #b34534;
$old-brick: #8d1f1b;
$light-carmine: #f3cfca;
$orange: #fcb13b;
$purple: #9c28c6;
$light-rose: #fee8e9;
$yellow: #faf5bd;
$green-white: #EDECE2;
$zanah: #dbefdf;
$rose: #ffb6ba;
$citrine-white: #f8f5d1;
$periwinkle-gray: #c9dae9;
$jaffa: #f58144;
