.messageWrapper {
  max-width: 14rem;
  list-style: none;
  white-space: pre-wrap;

  padding: 0.3rem 0;
}

.messageHeader {
  white-space: nowrap;
  font-size: 0.8rem;
}

.messageBody {
  background: #129FEA;
  border-radius: 0.3rem;
  padding: 0.2rem;

  overflow: hidden;
  text-overflow: ellipsis;

  img {
    width: 100%;
  }
}

.textContent {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.received {
  color: red;
}

.sent {
  color: blue;
  margin-left: auto;
}